{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}

        {# <!-- GoogleAnalytics --> #}
        {% include 'google.html' %}
    </body>
</html>
